__pycache__/*

dataset/*
src/supervised/Ai4Mars/networks/*
src/supervised/depth/checkpoint/*
src/supervised/depth/trained_networks/*
src/unsupervised/output/*
src/positiveNegative/*


src/semisupervised/positiveNegativeDataset/*
src/semisupervised/TunedModel/*

srcTest/DepthAnything/*
srcTest/MATLABPaDiM/ConcreteCrackDataset/*

srcTest/deepLabV3Plus-voc.mat
