__pycache__/*

dataset/*
src/training/networks/*
src/positiveNegative/*


src/semisupervised/positiveNegativeDataset/*
src/semisupervised/TunedModel/*

srcTest/DepthAnything/*
srcTest/MATLABPaDiM/ConcreteCrackDataset/*

srcTest/deepLabV3Plus-voc.mat
